In [1]:
#Import packages
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import os


# this setting widens how many characters pandas will display in a column:
pd.options.display.max_colwidth = 400

In [2]:
csv_files=[
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2015.csv'),
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2016.csv'),
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2017.csv'),
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2018.csv'),
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2019.csv'),
    os.path.join(os.getcwd(),'../assets/outbreaks/merged_2020.csv')    
]

year_2015 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2015.csv'))

year_2016 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2016.csv'))

year_2017 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2017.csv'))

year_2018 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2018.csv'))

year_2019 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2019.csv'))

year_2020 = pd.read_csv(os.path.join(os.getcwd(),'../assets/outbreaks/merged_2020.csv'))

In [3]:
# merged all csv to 1 dataframe
df = pd.concat(
    map(pd.read_csv, csv_files), ignore_index=True)
print(df)

       n_of_cases                                 st_add       lat  \
0               4           bishan street 22 (block 232)  1.358286
1               7           bishan street 22 (block 233)  1.358639
2               3           bishan street 22 (block 234)  1.358390
3               1           bishan street 22 (block 235)  1.358719
4               4           bishan street 22 (block 236)  1.359041
...           ...                                    ...       ...
56971           1           yishun street 22 (block 265)  1.436743
56972           1           yishun street 81 (block 865)  1.414261
56973           1           yishun street 81 (block 873)  1.415016
56974           1  yuan ching road (lakeside apartments)  1.335930
56975           1   yuan ching road (park view mansions)  1.335161

             long  cluster_n  rec_cases_in_cluster  total_cases    date  \
0      103.845226          1                    24           83  150703
1      103.845259          1                    24           83  150703
2      103.845955          1                    24           83  150703
3      103.846477          1                    24           83  150703
4      103.846849          1                    24           83  150703
...           ...        ...                   ...          ...     ...
56971  103.838342        345                     2            2  200703
56972  103.838092        346                     2            2  200703
56973  103.836672        346                     2            2  200703
56974  103.725568        347                     2            2  200703
56975  103.725523        347                     2            2  200703

       month_num
0              7
1              7
2              7
3              7
4              7
...          ...
56971          7
56972          7
56973          7
56974          7
56975          7

[56976 rows x 9 columns]

In [4]:
df.to_csv("df.csv")

df = pd.read_csv('df_v2.csv')

In [5]:
df.shape

(56976, 9)

In [6]:
df.describe()

,n_of_cases,lat,long,cluster_n,rec_cases_in_cluster,total_cases,date,month_num
count,56976.000000,56976.000000,56976.000000,56976.000000,56976.000000,56976.000000,56976.000000,56976.000000
mean,2.583667,1.354812,103.856974,35.301425,6.346462,37.508688,183041.102868,6.426390
std,3.931250,0.038571,0.064542,47.190155,7.331141,54.091489,18159.408902,3.248549
min,1.000000,1.264626,103.614371,1.000000,1.000000,2.000000,150703.000000,1.000000
25%,1.000000,1.323170,103.829118,6.000000,2.000000,4.000000,160613.000000,4.000000
50%,1.000000,1.350902,103.868549,18.000000,4.000000,14.000000,190808.000000,7.000000
75%,3.000000,1.375948,103.903538,47.000000,8.000000,48.000000,200306.000000,9.000000
max,104.000000,1.466968,103.973141,393.000000,92.000000,381.000000,201106.000000,12.000000

In [7]:
df.head()

,n_of_cases,st_add,lat,long,cluster_n,rec_cases_in_cluster,total_cases,date,month_num
0,4,bishan street 22 (block 232),1.358286,103.845226,1,24,83,150703,7
1,7,bishan street 22 (block 233),1.358639,103.845259,1,24,83,150703,7
2,3,bishan street 22 (block 234),1.358390,103.845955,1,24,83,150703,7
3,1,bishan street 22 (block 235),1.358719,103.846477,1,24,83,150703,7
4,4,bishan street 22 (block 236),1.359041,103.846849,1,24,83,150703,7

In [8]:
year_max_cases = df.groupby(['year'])['n_of_cases'].sum().sort_values(ascending=False).head(20)

#Visualizing it
year_max_cases.plot(kind='bar')
plt.xlabel('year')
plt.ylabel('Total Cases of Dengue')
plt.show()

KeyError: 'year'

In [ ]:
# Most num of total_cases from combined years

year_max_cases = df.groupby(['location'])['n_of_cases'].sum().sort_values(ascending=False).head(20)

#Visualizing it
year_max_cases.plot(kind='bar')
plt.xlabel('location')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
# Most num of total_cases by date

date_max_cases = df.groupby(['date'])['n_of_cases'].sum().sort_values(ascending=False).head(20)

#Visualizing it
date_max_cases.plot(kind='bar')
plt.xlabel('date')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
# lease num of total_cases

year_min_cases = df.groupby(['location'])['n_of_cases'].sum().sort_values(ascending=True).head(10)

#Visualizing it
year_min_cases.plot(kind='bar')
plt.xlabel('location')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
df_2020 = df.loc[df['year'] == 2020]

In [ ]:
df_2019 = df.loc[df['year'] == 2019]

In [ ]:
# highest cases in which month 2020

month_in_2020 = df_2020.groupby(['month_num'])['n_of_cases'].sum().sort_values(ascending=False)

#Visualizing it
month_in_2020.plot(kind='bar')
plt.xlabel('month')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
# Most num of total_cases 2020

year_max_cases_2020 = df_2020.groupby(['location'])['n_of_cases'].sum().sort_values(ascending=False).head(20)

#Visualizing it
year_max_cases_2020.plot(kind='bar')
plt.xlabel('location')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
# Most num of total_cases 2019

year_max_cases_2019 = df_2019.groupby(['location'])['n_of_cases'].sum().sort_values(ascending=False).head(20)

#Visualizing it
year_max_cases_2019.plot(kind='bar')
plt.xlabel('location')
plt.ylabel('Total Cases of Dengue')
plt.show()

In [ ]:
# highest cases in which month 2019

month_in_2019 = df_2019.groupby(['month_num'])['n_of_cases'].sum().sort_values(ascending=False)

#Visualizing it
month_in_2019.plot(kind='bar')
plt.xlabel('month')
plt.ylabel('Total Cases of Dengue')
plt.show()